[submodule "packages/AetherInternal"]
	path = packages/AetherInternal
	url = git@github.com:AetherKiri/AetherInternal.git
[submodule "packages/OnscripterYuri"]
	path = packages/OnscripterYuri
	url = https://github.com/AetherKiri/OnscripterYuri.git
	branch = aether-main
